/* General layout */

section {
  width: 100%;
  display: block;
  position: relative;
  @include clearfix();
}

// Layout Utility classes
.content {
  width: $main-max-width;
  margin: 0 auto;
  @include clearfix();
  @include mq-min($large) {
    width: $main-max-width_large;
  }
  @include mq-max($desk) {
    width: 95%;
  }
}

.inner-container {
  width: 100%;
  @include clearfix();
}

.text-center    { text-align: center; }
.text-left      { text-align: left; }
.text-right     { text-align: right; }
.text-uppercase { text-transform: uppercase; }
.full-width     { width: 100%; }
.spacing        { padding: $base-padding 0; }
.button-content { padding: 50px 0; }

.github-corner:hover .octo-arm {
  animation: octocat-wave 560ms ease-in-out;
}

@keyframes octocat-wave {
  0% {
    transform: rotate(0deg);
  }
  
  20% {
    transform: rotate(-25deg);
  }
  
  40% {
    transform: rotate(10deg);
  }
  
  60% {
   transform: rotate(-25deg);
  }
  
  80% {
    transform: rotate(10deg);
  }
  
  100% {
    transform: rotate(0deg);
  }
}

@media (max-width: 500px) {
  .github-corner:hover .octo-arm {
    animation: none;
  }
  .github-corner .octo-arm {
    animation: octocat-wave 560ms ease-in-out;
  }
}

.not-centered-content {
  padding: 55px 0;
}

.pro {
  @include col(1/3);
}

#installation h2 {
  margin-bottom: 45px;
}

.installation-option {
  @include col(1/2);
  &-title {
    text-align: center;
    font-size: em(20px);
  }
  pre {
    transition: all 0.3s ease;
  }
  &:hover {
    pre {
      border-color: rgba($tall-poppy, 0.5);
    }
  }
}

@import "print";
