/* Button Module */

%button_base {
  cursor: pointer;
  text-decoration: none;
  background-color: transparent;
  padding: 0;
  border: 0;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  white-space: nowrap;
}

%button_brand {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
}

button {
  @extend %button_base;
  background-image: none;
  &:focus, &:active {
    outline: none;
    box-shadow: none;
    border: none;
  }
  &.button-disabled, &[disabled] {
    cursor: not-allowed;
    opacity: 0.65;
  }
}

// Example button component
.button {
  @extend %button_base;
  @extend %button_brand;
  background-color: $picton-blue;
  border-radius: 3px;
  padding: 5px 25px;
  color: white;
  margin-bottom: 16px;
  transition: background-color 0.3s ease;
  &:hover, &:focus {
    background-color: darken($picton-blue, 10%);
  }
}

.button-full {
  display: block;
  width: 100%;
}
