/* Form Module */

// Remove default fieldset styles.
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

textarea, select {
  padding: 6px 10px; // The 6px vertically centers text on FF, ignored by Webkit
  box-shadow: none;
}

textarea, input {
  appearance: none;
}

textarea {
  resize: none;
  height: auto;
  min-height: 50px;
}

@if settings('form-controls') {
  // Basic form controls
  %form_control {
    position: relative;
    display: inline-block;
    padding-left: em(24px);
    cursor: pointer;
    input {
      position: absolute;
      opacity: 0;
      z-index: -1; // Put the input behind the label so it doesn't overlay text
    }
  }
  .control-indicator {
    position: absolute;
    top: 0.25rem;
    left: 0;
    display: block;
    width:  1rem;
    height: 1rem;
    line-height: 1rem;
    font-size: 65%;
    color: #eee;
    text-align: center;
    background-color: #eee;
    background-size: 50% 50%;
    background-position: center center;
    background-repeat: no-repeat;
    user-select: none;
  }
  .checkbox {
    @extend %form_control;
    input {
      &:focus {
        ~ .control-indicator {
          box-shadow: 0 0 0 .075rem #fff, 0 0 0 .2rem #0074d9;
        }
      }
      &:checked {
        ~ .control-indicator {
          color: #fff;
          background-color: #0074d9;
          background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4NCjwhLS0gR2VuZXJhdG9yOiBBZG9iZSBJbGx1c3RyYXRvciAxNy4xLjAsIFNWRyBFeHBvcnQgUGx1Zy1JbiAuIFNWRyBWZXJzaW9uOiA2LjAwIEJ1aWxkIDApICAtLT4NCjwhRE9DVFlQRSBzdmcgUFVCTElDICItLy9XM0MvL0RURCBTVkcgMS4xLy9FTiIgImh0dHA6Ly93d3cudzMub3JnL0dyYXBoaWNzL1NWRy8xLjEvRFREL3N2ZzExLmR0ZCI+DQo8c3ZnIHZlcnNpb249IjEuMSIgaWQ9IkxheWVyXzEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4Ig0KCSB2aWV3Qm94PSIwIDAgOCA4IiBlbmFibGUtYmFja2dyb3VuZD0ibmV3IDAgMCA4IDgiIHhtbDpzcGFjZT0icHJlc2VydmUiPg0KPHBhdGggZmlsbD0iI0ZGRkZGRiIgZD0iTTYuNCwxTDUuNywxLjdMMi45LDQuNUwyLjEsMy43TDEuNCwzTDAsNC40bDAuNywwLjdsMS41LDEuNWwwLjcsMC43bDAuNy0wLjdsMy41LTMuNWwwLjctMC43TDYuNCwxTDYuNCwxeiINCgkvPg0KPC9zdmc+DQo=);
        }
      }
      &:active {
        ~ .control-indicator {
          color: #fff;
          background-color: #84c6ff;
        }
      }
    }
    .control-indicator {
      border-radius: .25rem;
    }
  }

  .radio {
    @extend %form_control;
    input {
      &:focus {
        ~ .control-indicator {
          box-shadow: 0 0 0 .075rem #fff, 0 0 0 .2rem #0074d9;
        }
      }
      &:checked {
        ~ .control-indicator {
          color: #fff;
          background-color: #0074d9;
          background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4NCjwhLS0gR2VuZXJhdG9yOiBBZG9iZSBJbGx1c3RyYXRvciAxNy4xLjAsIFNWRyBFeHBvcnQgUGx1Zy1JbiAuIFNWRyBWZXJzaW9uOiA2LjAwIEJ1aWxkIDApICAtLT4NCjwhRE9DVFlQRSBzdmcgUFVCTElDICItLy9XM0MvL0RURCBTVkcgMS4xLy9FTiIgImh0dHA6Ly93d3cudzMub3JnL0dyYXBoaWNzL1NWRy8xLjEvRFREL3N2ZzExLmR0ZCI+DQo8c3ZnIHZlcnNpb249IjEuMSIgaWQ9IkxheWVyXzEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4Ig0KCSB2aWV3Qm94PSIwIDAgOCA4IiBlbmFibGUtYmFja2dyb3VuZD0ibmV3IDAgMCA4IDgiIHhtbDpzcGFjZT0icHJlc2VydmUiPg0KPHBhdGggZmlsbD0iI0ZGRkZGRiIgZD0iTTQsMUMyLjMsMSwxLDIuMywxLDRzMS4zLDMsMywzczMtMS4zLDMtM1M1LjcsMSw0LDF6Ii8+DQo8L3N2Zz4NCg==);
        }
      }
      &:active {
        ~ .control-indicator {
          color: #fff;
          background-color: #84c6ff;
        }
      }
    }
    .control-indicator {
      border-radius: 50%;
    }
  }

  // <label class="checkbox">
  //   <input type="checkbox">
  //   <span class="control-indicator"></span>
  //   Check this custom checkbox
  // </label>
  // <label class="radio">
  //   <input id="radio1" name="radio" type="radio">
  //   <span class="control-indicator"></span>
  //   Toggle this custom radio
  // </label>

}
