.table {
  width: 100%;
  th, td {
    border-bottom: .1rem solid #e1e1e1;
    padding: 25px 32px;
    text-align: left;

    &:first-child {
      padding-left: 0;
    }

    &:last-child {
      padding-right: 0;
    }
  }
}
