.table {
  width: 100%;
  margin-bottom: $base-padding;
  th, td {
    border-bottom: .1rem solid #e1e1e1;
    padding: 10px 20px;
    text-align: left;
    &:first-child {
      padding-left: 0;
    }
    &:last-child {
      padding-right: 0;
    }
  }
}
